<ion-header-bar ng-controller="detail_imgCtrl">
    <a class=" icon ion-chevron-left back"
       ng-click="jump('detail',{id:did})" >返回</a>
    <span class="center" ng-model="slectIndex">{{len}}页</span>
</ion-header-bar>

<ion-view hide-tabs>
    <ion-content class="has-header has-footer" overflow-scroll="true">
        <div class="row" ng-repeat="img in imgs_list">


            <div class="col" ng-if="$index % 3 == 0">
                <a ui-sref="detail_img({mid:img.p_did})" ng-model="slectIndex" ng-click="go($index+1)">
                    <img ng-src="img/{{img.img_sm}}" alt=""/>
                </a>

            </div>
            <div class="col" ng-if="$index % 3 == 0">
                <a ui-sref="detail_img({mid:img.p_did})" ng-model="slectIndex" ng-click="go($index+2)">
                    <img ng-src="img/{{imgs_list[$index+1].img_sm}}" alt=""/>
                </a>
            </div>
            <div class="col" ng-if="$index % 3 == 0">
                <a ui-sref="detail_img({mid:img.p_did})" ng-model="slectIndex" ng-click="go($index+3)">
                    <img ng-src="img/{{imgs_list[$index+2].img_sm}}" alt=""/>
                </a>
            </div>


        </div>


    </ion-content>
</ion-view>



